@use "/src/sass/base/variables.scss" as *;

@mixin before_circle {
  &:before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $main-color;
    z-index: -1;
    top: -50%;
    left: 0;
  }
}
