@use "/src/sass/libs/modern-normalize.min.css";

@use "/src/sass/base/base.scss";
@use "/src/sass/base/variables.scss";

@use "/src/sass/block/promo.scss";
@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";
@use "/src/sass/block/items.scss";
@use "/src/sass/block/burger.scss";
@use "/src/sass/block/about.scss";
@use "/src/sass/block/exp.scss";
@use "/src/sass/block/skills.scss";
@use "/src/sass/block/portfolio.scss";

@use "/src/sass/base/mixins.scss";
