@use "/src/sass/base/variables.scss" as *;

.burger {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 6px;
  cursor: pointer;
  span {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
  }
  .burger_long {
    width: 36px;
  }
  &:hover {
    span {
      transform: scale(1.03);
      background: yellow;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  &.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__block {
    position: relative;
    width: 345px;
    height: 100%;
    background: $main-color;
    padding-top: 140px;
    padding-left: 40px;
    transition: all 0.5s;
  }
  &__close {
    position: absolute;
    top: 24px;
    right: 25px;
    cursor: pointer;
    svg {
      &:hover {
        transition: all 0.2s;
        transform: scale(1.15);
      }
    }
  }
  &__list {
    padding-left: 35px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  &__link {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: -35px;
      top: 6.5px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 1px solid #000;
      transition: all 0.11s;
    }
    &:hover {
      &::before {
        background-color: #fff;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &__social {
    position: absolute;
    bottom: 50px;
    right: 128px;
    display: flex;
    justify-content: space-between;
    width: 90px;
    a {
      transform: rotate(90deg);
      &:hover {
        transform: rotate(90deg) scale(1.3);
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.45;
    z-index: -1;
  }
}
