@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.exp {
  background: $dark-color;
  // background: gray;
  padding-top: 120px;
  &__subtitle {
    position: relative;
    text-align: center;
    @include before_circle;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
    z-index: 1;
  }
  &__title {
    margin-top: 6px;
    text-align: center;
    line-height: 167%;
  }
  &__devider {
    margin: 22px auto 0 auto;
  }
  &__wrapper {
    padding: 60px 65px 0 65px;
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 136px;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 50px;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        left: 0;
        transform: translateY(25%);
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        position: relative;
        padding-left: 50px;
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(100% + 5px);
          top: -5px;
          left: 7px;
          background: #fff;
        }
        &::before {
          content: "";
          position: absolute;
          background: #fff;
          width: 42px;
          height: 1px;
          left: 8px;
          top: 60px;
        }
      }
    }
  }
  &__item {
    &-head {
      display: flex;
      column-gap: 18px;
      padding-top: 45px;
    }
    &-icon {
      position: relative;
      padding-left: 18px;
      @include before_circle;
      &::before {
        transform: translateY(15px);
      }
      z-index: 1;
      img {
        filter: invert(1);
        transform: translate(-2px, 11px);
      }
    }
    &-body {
      padding-top: 12px;
      font-weight: 700;
      line-height: 18px;
    }
    &-location {
      margin-top: 5px;
    }
  }
}
