.items {
  position: absolute;
  top: 230px;
  left: 50px;
  z-index: 3;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 338px;
  }
  &__devider {
    height: 70px;
    width: 2px;
    background-color: #fff;
  }
  svg {
    transform: rotate(90deg);
    filter: invert(1);
    &:hover {
      transform: rotate(90deg) scale(1.3);
      path {
        fill: blue;
      }
    }
  }
  &__text {
    height: 148px;
    width: 15px;
    span {
      transform: rotate(-90deg) translate(-20%, -365%);
      display: block;
      width: 148px;
    }
  }
}
