@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.portfolio {
  padding-top: 126px;
  background: $dark-color;
  &__devider {
    margin: 22px auto 0 auto;
  }
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
    .vertical {
      grid-row: 1/3;
      grid-column: 4/5;
    }
    .horizontal {
      grid-column: 2/4;
    }
  }
  &__item {
    transition: all 0.5s;
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.08);
      filter: brightness(1.1);
    }
  }
}
