@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.price {
  padding-top: 66px;
  background: $dark-color;
  &__devider {
    margin: 22px auto 0 auto;
  }
  &__wrapper {
    margin-top: 63px;
    padding: 0 50px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 375px);
    justify-content: space-between;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    line-height: 18px;
  }
  &__price {
    line-height: 18px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    li {
      position: relative;
      padding-left: 25px;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        left: 0;
      }
    }
  }
  &__body {
    margin-top: 5px;
    line-height: 18px;
  }
}
