@use "/src/sass/base/mixins.scss" as *;

.promo {
  position: relative;
  height: 100vh;
  background: url("/src/img/bg_1.jpg") center center / cover no-repeat;
  padding-top: 205px;
  &__subtitle {
    position: relative;
    padding-left: 10px;
    @include before_circle;
    z-index: 2;
  }
  &__title {
    width: 532px;
    margin-top: 9px;
  }
  &__btns {
    width: 248px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    &:hover {
      transform: scale(1.03);
    }
  }
}
