@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.skills {
  background: $dark-color;
  padding-top: 126px;
  &__subtitle {
    text-align: center;
    position: relative;
    @include before_circle;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
    z-index: 1;
  }
  &__title {
    margin-top: 6px;
    text-align: center;
    line-height: 167%;
  }
  &__devider {
    margin: 22px auto 0 auto;
  }
  &__wrapper {
    margin-top: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }
  &__item {
    width: 270px;
    height: 270px;
    background: #707070a0;
    padding: 30px 30px 0 30px;
    border: 1px solid white;
  }
  &__text {
    margin-top: 15px;
    line-height: 20px;
  }
  &__desc {
    margin-top: 20px;
  }
  &__level {
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 30px;
    margin-top: 120px;
    &-item {
      width: 350px;
    }
    &-header {
      display: flex;
      justify-content: space-between;
    }
    &-body {
      margin-top: 27px;
      width: 350px;
      height: 14px;
      border-radius: 4px;
      background: #e8e4de;
      span {
        display: block;
        border-radius: 4px;
        height: 100%;
        background: $main-color;
      }
    }
  }
}
