@use "/src/sass/base/variables.scss" as *;

.btn {
  height: 45px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: $main-color;
  padding: 12px 25px;
  &:hover {
    background-color: #ffc800;
    // transform: scale(1.07);
  }
}
