.title {
  font-weight: 700;
  color: #fff;
  font-size: 46px;
  &_fz12 {
    font-size: 12px;
    font-weight: 500;
  }
  &_fz14 {
    font-size: 14px;
  }
  &_fz16 {
    font-size: 16px;
  }
  &_fz36 {
    font-size: 36px;
  }
  &_fz48 {
    font-size: 48px;
    line-height: 125%;
  }
}
